<div id="<%= dom_id entry %>">
  <p>
    <strong>Passenger name:</strong>
    <%= entry.passenger_name %>
  </p>

  <p>
    <strong>Age:</strong>
    <%= entry.age %>
  </p>

  <p>
    <strong>Ticket amount:</strong>
    <%= entry.ticket_amount %>
  </p>

  <p>
    <strong>Temperature:</strong>
    <%= entry.temperature %>
  </p>

  <p>
    <strong>Seats:</strong>
    <%= entry.seats %>
  </p>

</div>
